## Build and output folders
**/[Bb]in/
**/[Oo]bj/
**/out/

## Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

## Visual Studio Code
.vscode/

## Rider
.idea/

## User-specific files
*.rsuser
*.suo
*.user
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json

## Publish
publish/
**/publish/

## Operating System Files
.DS_Store
Thumbs.db
